.app_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  background-color: #282c34;
  color: white;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 4px 4px 4px #ccc;
}
.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}
.app_logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.navbar a:hover {
  text-decoration: underline;
  color: salmon;
  cursor: pointer;
}
.navbar a.active {
  color: salmon;
  cursor: pointer;
}
.app_name_container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.app_name {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}
