.userListContainer {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.userListHeader {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
  color: chocolate;
  font-size: 24px;
}

.userList {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  padding: 20px;
  border: 2px dotted chocolate;
}

.userListDescription {
  font-size: 20px;
  border-bottom: 2px solid #ccc;
  color: #555;
  width: 700px;
  margin: 20px auto;
}
.list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}
