.app_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  background-color: #282c34;
  color: white;
  font-size: 16px;
  box-shadow: 0 -4px 4px #ccc;
}
